<div class="challenge-content clearfix" style="position:relative;
    {{#equal viewType "superuser"}}{{#if flaggedBy.length}}background-color: #ccc{{/if}}{{/equal}}">
  <div class="left-side clearfix">

    <img id="preview" src="{{avatar_url}}" style="vertical-align: -5px;
        {{#unless avatar_url}}display:none{{/unless}}
    ">
    <div style="font-size:18px;margin-bottom:8px; display:inline-block;">
      {{#unless cantRedirect}}
        <a data-track="go-to-challenge" data-id="{{_id}}" href="/challenge/{{_id}}" title="{{title}}" style="
    {{#if avatar_url}}width: 170px;{{else}}width: 200px;{{/if}}
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
">{{title}}</a>
      {{else}}
        <span title="{{title}}" style="
    {{#if avatar_url}}width: 170px;{{else}}width: 200px;{{/if}}
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
">{{title}}</span>
      {{/unless}}
    </div>
  </div>

  <div class="description">
    {{{description}}}
  </div>
</div>
<div class="completion-status">

  {{#equal viewType "superuser"}}
    <a href="javascript:;" class="delete">Delete</a>
  {{/equal}}
  {{#if pick}}
    <button data-track="pick-challenge" class="btn btn-primary pick-challenge">Choose Challenge</button>
  {{else}}
    {{#if canRemove}}
      <i class="fa fa-times" data-id="{{_id}}" style="border: 1px solid #ccc;padding: 10px;border-radius:4px;color:red"></i>
    {{else}}
      <div>
        <button data-track="start-challenge" data-id="{{_id}}" class="btn btn-primary start-challenge {{#equal status "not started"}}{{else}}hidden{{/equal}}">Start Challenge</button>
        <button data-track="end-challenge" data-id="{{_id}}" class="btn btn-primary complete-challenge {{#equal status "started"}}{{else}}hidden{{/equal}}">Complete Challenge</button>
        <span class="completed-challenge {{#equal status "completed"}}{{else}}hidden{{/equal}}">Completed!</span>
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="dropdown-container arrow-right">
  <a style="
      font-size: 24px;
      vertical-align: -6px;
      padding: 0 4px 0 8px;
      color: #949494;">
    <i class="fa fa-ellipsis-v"></i>
  </a>
  <div class="dropdown-arrow clearfix">
    <div class="arrow"></div>
    <div class="dropdown">
      <a href="javascript:;" class="report-challenge" style="display:block">Report</a>
    </div>
  </div>
</div>
<div class="challenge-reported">Challenge Reported</div>